parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$route of method Symfony\\Bundle\\FrameworkBundle\\Controller\\AbstractController\:\:redirectToRoute\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Crud/Controller/AbstractCrudController.php

		-
			message: '#^Parameter \#1 \$view of method Symfony\\Bundle\\FrameworkBundle\\Controller\\AbstractController\:\:render\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: src/Crud/Controller/AbstractCrudController.php

		-
			message: '#^Parameter \#2 \$parameters of method Symfony\\Bundle\\FrameworkBundle\\Controller\\AbstractController\:\:redirectToRoute\(\) expects array, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Crud/Controller/AbstractCrudController.php

		-
			message: '#^Parameter \#2 \.\.\.\$arrays of function array_merge expects array, mixed given\.$#'
			identifier: argument.type
			count: 4
			path: src/Crud/Controller/AbstractCrudController.php

		-
			message: '#^Binary operation "\." between ''%%'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Crud/Persistence/Provider/CrudListProvider.php

		-
			message: '#^Method Symkit\\CrudBundle\\Crud\\Persistence\\Provider\\CrudListProvider\:\:getEntities\(\) should return Doctrine\\ORM\\Tools\\Pagination\\Paginator\<object\> but returns Doctrine\\ORM\\Tools\\Pagination\\Paginator\<mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Crud/Persistence/Provider/CrudListProvider.php

		-
			message: '#^Unable to resolve the template type T in call to method Doctrine\\ORM\\EntityManagerInterface\:\:getRepository\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Crud/Persistence/Provider/CrudListProvider.php

		-
			message: '#^Method Symkit\\CrudBundle\\Crud\\Persistence\\Provider\\CrudListProviderInterface\:\:getEntities\(\) has parameter \$filters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Crud/Persistence/Provider/CrudListProviderInterface.php

		-
			message: '#^Method Symkit\\CrudBundle\\Crud\\Persistence\\Provider\\CrudListProviderInterface\:\:getEntities\(\) has parameter \$searchFields with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Crud/Persistence/Provider/CrudListProviderInterface.php

		-
			message: '#^Argument of an invalid type array\<Symfony\\Component\\Form\\FormInterface\>\|null supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Form/Extension/DependencyExtension.php

		-
			message: '#^Method Symkit\\CrudBundle\\Form\\Extension\\TranslatableExtension\:\:__construct\(\) has parameter \$enabledLocales with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Form/Extension/TranslatableExtension.php

		-
			message: '#^Method Symkit\\CrudBundle\\Form\\Type\\SitemapPriorityType\:\:getPriorityChoices\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Form/Type/SitemapPriorityType.php

		-
			message: '#^Cannot call method getId\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Form/Type/SlugType.php

		-
			message: '#^Parameter \#1 \$name of method Symfony\\Component\\Form\\FormInterface\:\:get\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Form/Type/SlugType.php

		-
			message: '#^Parameter \#1 \$name of method Symfony\\Component\\Form\\FormInterface\:\:has\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Form/Type/SlugType.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Form/Type/SlugType.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 2
			path: src/Form/Type/SlugType.php

		-
			message: '#^Method Symkit\\CrudBundle\\Service\\HeroiconProvider\:\:getAllIcons\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Service/HeroiconProvider.php

		-
			message: '#^Property Symkit\\CrudBundle\\Twig\\Component\\BackLink\:\:\$routeParams type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Twig/Component/BackLink.php

		-
			message: '#^Property Symkit\\CrudBundle\\Twig\\Component\\DeleteForm\:\:\$routeParams type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Twig/Component/DeleteForm.php

		-
			message: '#^Method Symkit\\CrudBundle\\Twig\\Component\\PasswordField\:\:getStrength\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Twig/Component/PasswordField.php

		-
			message: '#^Method Symkit\\CrudBundle\\Twig\\Component\\RichSelect\:\:getFilteredChoices\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Twig/Component/RichSelect.php

		-
			message: '#^Property Symkit\\CrudBundle\\Twig\\Component\\RichSelect\:\:\$choiceIcons type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Twig/Component/RichSelect.php

		-
			message: '#^Property Symkit\\CrudBundle\\Twig\\Component\\RichSelect\:\:\$choices type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Twig/Component/RichSelect.php

		-
			message: '#^Parameter \#1 \$class of method Doctrine\\Persistence\\ManagerRegistry\:\:getManagerForClass\(\) expects class\-string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Twig/Component/Slug.php

		-
			message: '#^Unable to resolve the template type T in call to method Doctrine\\Persistence\\ObjectManager\:\:getRepository\(\)$#'
			identifier: argument.templateType
			count: 1
			path: src/Twig/Component/Slug.php

		-
			message: '#^Method Symkit\\CrudBundle\\Twig\\Component\\TranslatableField\:\:mount\(\) has parameter \$locales with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Twig/Component/TranslatableField.php

		-
			message: '#^Property Symkit\\CrudBundle\\Twig\\Component\\TranslatableField\:\:\$locales type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Twig/Component/TranslatableField.php

		-
			message: '#^Property Symkit\\CrudBundle\\Twig\\Component\\TranslatableField\:\:\$translations type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Twig/Component/TranslatableField.php
